## Predictions

In [1]:
import face_rec

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model/models/buffalo_sc/det_500m.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model/models/buffalo_sc/w600k_mbf.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

In [2]:
face_rec.r.ping()

True

In [3]:
import pandas as pd
import numpy as np
import cv2
import redis

#### Step-1: Extract Data from database

In [4]:
name = 'academy:register'
retrive_dict= face_rec.r.hgetall(name)
retrive_series = pd.Series(retrive_dict)
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x,dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))
retrive_series.index = index
retrive_df =  retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role','facial_features']
retrive_df[['Name','Role']] = retrive_df['name_role'].apply(lambda x: x.split('@')).apply(pd.Series)
retrive_df

,name_role,facial_features,Name,Role
0,Abhijeeth@Student,"[-0.02814327, -0.0032706298, -0.039785348, -0....",Abhijeeth,Student
1,kohli@Student,"[-1.1096125, 0.37213457, 0.12171401, -0.682275...",kohli,Student
2,abhigna@Student,"[-2.0028722, -0.5104687, 0.71650857, -0.830376...",abhigna,Student
3,Lionel Messi@Student,"[-2.7039468, -1.4024091, 0.39546552, 0.6817208...",Lionel Messi,Student
4,Morgan_Freeman@teacher,"[0.4857939, -0.61931694, -0.4072946, 1.0686711...",Morgan_Freeman,teacher
5,Barack_Obama@teacher,"[0.948603, -0.558349, 0.09484784, -1.2796344, ...",Barack_Obama,teacher
6,Nihitha Vadlamuri@Student,"[0.40539905, -0.93340147, 0.6084892, -0.948747...",Nihitha Vadlamuri,Student
7,Scarlett Johansson@student,"[0.1913062, -0.48871604, -1.6904205, 0.4424578...",Scarlett Johansson,student
8,ronaldo@Student_21WU0102047,"[1.7229705, -2.7789521, 0.14269537, -1.7399669...",ronaldo,Student_21WU0102047
9,Chris_Evans@student,"[0.72012275, -1.4683539, -0.77757514, -1.46026...",Chris_Evans,student
10,Angelina Jolie@student,"[0.43222713, 1.074822, -0.12857957, -1.8332443...",Angelina Jolie,student
11,Abhigna Ragala@Student_21WU0102051,"[-1.9036957, -0.010292505, 1.5056595, -0.68067...",Abhigna Ragala,Student_21WU0102051

### Step-2: Get Real - Time Prediction

In [5]:
cap = cv2.VideoCapture(0) # default , # 1 for external camera

while True:
    ret, frame = cap.read()
    
    if ret == False:
        break
        
    pred_frame = face_rec.face_prediction(frame,retrive_df,'facial_features',['Name','Role'],thresh=0.5)
    
    #cv2.imshow('frame',frame)
    cv2.imshow('prediciton',pred_frame)
    
    if cv2.waitKey(1) == 27: # if i press esc button this condition will get trigged
        break
        
cv2.destroyAllWindows()
cap.release()
cv2.waitKey(1)

-1

### [END](https://www.udemy.com/user/freeai-space/)